$ase-color: rgb(17, 184, 128);
$test: 1px solid;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: $test;
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding: auto 0.5rem;
}

ul {
  list-style-type: none;
}

header {
  background: $base-color;
  color: white;
  padding: 0.5rem;
  padding-bottom: 0.5rem;
}

.profile-img {
  height: 5.5rem;
  border: 1px solid;
  padding: 0;
}
@media (min-width: 767px) {
  .profile-img {
    height: 13rem;
    border: 1px solid;
  }
  
  .src-exp {
    padding: 3rem;
  }
  .add-box-cont {
    padding: 0 3rem;
  }
}
@media (max-width: 766px) {
  .add-box {
    margin: 1rem 0;
  }
}

.top-nav {
  border-bottom: 1px solid $base-color;
  padding: 1rem 0.5rem;
  ul {
    width: 95vw;
    margin: auto;
    padding-left: 1.5rem;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: center;

    li {
      display: inline-block;
      border: 1px solid $base-color;
      padding: 0.2rem 0.5rem;
      margin: 0 .6rem;
      border-radius: 10px;
      width: 100%;
      cursor: pointer;
    }
  }
}
@media (max-width: 766px) {
  .top-nav {
    ul {
      padding-left: 5.5rem;
      li {
        border: none;
      }
    }
  }
}

.exp-catg {
  ul {
    width: 90vw;
    display: flex;
    overflow-x: auto;
    margin-bottom: 0.5rem;

    a {
      display: inline-block;
      margin: 0.5rem 1rem;
      padding: 0.1rem 0.5rem;
    }
  }
}

.add-catg-btn {
  border: 1px solid;
  padding: 0 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.add-box-cont {
  position: relative;
  .toggle-add-box {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 4rem;
    font-size: 1.5rem;
    display: none;
  }
}
@media (max-width: 766px) {
  .toggle-add-box {
    right: 1rem !important;
  }
  #piechart {
    height: 300px !important;
  }
  .sidebar {
    margin-top: 2rem;
  }
}

.add-exp-box,
.add-src-box {
  display: none;
  transition: 10s ease-in-out;
}

.add-src,
.add-exp {
  width: 45%;
  padding: 0.5rem;
  border: 1px solid;
  background: rgba($base-color, 0.9);
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}

.add-box {
  border: 1px solid;
  border-radius: 10px;
  background: rgb(238, 240, 240);
  margin-bottom: 2rem;

  label {
    margin: 1rem;
  }

  input,
  select {
    background: rgb(247, 247, 247);
  }
}

.catg-summary {
  .catg-sum-caret i:nth-child(2) {
    display: none;
  }
  .catgSumBox {
    display: none;
  }
}

.tips {
  ul {
    list-style-type: disc;

    li {
      margin-left: 1rem;
    }
  }
}

.sidebar {
  #chat-magr {
    margin-bottom: 1rem;
  }
  .ads-cont {
    border: $test;
    margin-right: 1rem;

    .ads-header {
      display: flex;
      justify-content: space-between;
    }
  }
}

.pieSummary {
  height: 400px;
  border: 1px solid;
  overflow-y: auto;
}